* {
    margin: 0;
    padding: 0;

}

:root {
    --color1: #6E07F3;
    --color2: #111;
    --color3: #fff;
    --font1: 'Share Tech Mono', monospace;
    --font2: 'Source Sans Pro', sans-serif;
}


.frontScreen {
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.navBar {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titleLogo {
    width: 50%;

}

.titleLogo .logo {
    width: 100%;


}

.titleLogo .logo a {
    width: auto;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 0 0 22%;

}

.titleLogo .logo a .tilogo {
    display: flex;
    align-items: center;
}

.titleLogo .logo img {
    width: 64px;
    height: 64px;
}

.titleLogo .logo div {
    font-family: var(--font1);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 1.1;
    padding: 0 10px;
    word-spacing: -12px;
    color: var(--color2);
}

.titleLogo .logo div span {
    letter-spacing: 1.4px;
    color: var(--color1);
}

.navbarLink {
    width: 50%;
}

.navbarLink ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 10% 0 0;

}

.navbarLink ul li {
    padding: 0 2%;
}

.frontImagehello {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-image: url("../images/bg1.svg");

}

.fihello {
    width: 35%;
    display: flex;
    align-items: center;

}

.fihellotext {
    color: var(--color2);
    width: 100%;
    font-size: 90px;
    font-weight: 800;
    font-family: var(--font1);
    line-height: 1.2;

    justify-content: center;
    padding: 0 0 0 30%;
    z-index: 1;
}

.fihellotext span {
    color: var(--color1);
}

.fihimg {
    width: 65%;
}

.fihimg img {
    width: 100%;
    height: 100%;

}

.simInfo {
    width: 100%;
    margin: 6% 0 4% 0;

}

.sinfo {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.sinfo h2 {
    font-weight: 700;
    font-size: 45px;
    font-family: var(--font1);
    text-align: center;
    line-height: 2;

}

.sinfo p {
    font-weight: 500;
    font-size: 25px;
    font-family: var(--font2);
    text-align: center;

}

.personaHo {
    width: 100%;
    padding: 6% 0;
    display: flex;
    justify-content: center;

}

.simage {
    width: 100%;

}

.simage img {
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.paraAbout {
    width: 100%;
    background-image: url("../images/image1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;

}

.aptext {
    width: 60%;
    margin: auto;
}

.aptext h2 {
    font-size: 38px;
    font-weight: 500;
    line-height: 2;
    font-family: var(--font1);
    text-align: center;
    color: var(--color3);
}

.aptext p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    font-family: var(--font2);
    text-align: center;
    color: var(--color3);
    letter-spacing: 1.2px;
}

.tyWorks {
    width: 100%;
    padding: 2% 0;
}

.tyWorks h2 {
    text-align: center;
    font-family: var(--font1);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.tyWorks1 {
    display: grid;
    margin: auto;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(500px, auto);
    column-gap: 2%;
}

.ty {
    padding: 5% 4%;
    border-bottom: 3px solid var(--color1);
    border-right: 1px solid #E6ECF8;
    box-shadow: 1px 0px 5px 7px #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0;
}

.tyimgLogo {
    background-color: var(--color1);

    width: 30%;
    height: 91px;
    text-align: center;
    border-radius: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.tyimgLogo svg {
    fill: #fff;
}

.ty h3 {
    font-family: var(--font1);
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: var(--color2);
    margin-bottom: 7%;
    text-transform: capitalize;
}

.ty p {
    font-family: var(--font2);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: var(--color2);
    margin-bottom: 10%;
}

.ty h4 {
    font-family: var(--font1);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: var(--color1);
    margin-bottom: 7%;
    text-transform: capitalize;
}

.ty span {
    font-family: var(--font2);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: var(--color2);
    margin-bottom: 2%;
    line-height: 1.2;
}

.projects {
    margin: 6% 0;
}

.projects h2 {
    text-align: center;
    font-family: var(--font1);
    font-size: 35px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: .7px;
    margin-bottom: 1%;
    color: var(--color2);

}

.projects p {
    text-align: center;
    font-family: var(--font2);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: .7px;
    color: var(--color2);
    margin-bottom: 3%;

}

.projects p a {
    text-decoration: none;
    color: var(--color1);
    cursor: pointer;
}


.tyWorks2 {
    display: grid;
    margin: auto;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(280px, auto);
    column-gap: 2%;
}

.ty1 {

    width: 100%;
    box-shadow: 0px 0px 1px 4px #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0;
    border-radius: 10px;
    position: relative;


}

.ty1Direct {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    opacity: 1;

}

.ty1Direct img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-position: center;
    object-fit: cover;
}

.ty1Hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: #141c3a;
    opacity: 0;
    transition: all .6s ease-in-out;

}

.ty1Hover:hover {
    opacity: 1;
}

.ty1Hover p {
    padding: 0 5%;
    color: var(--color3);
    font-family: var(--font2);
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}

.ty1Hover div a {
    color: var(--color3);
    padding: 10px 25px;

}

.ty1showTime {
    display: flex;
}

.fmog {
    margin: 3% 0;
    text-align: center;
}



.startupMain {
    width: 100%;
    height: auto;
    position: relative;

}

.statupcolor {
    width: 100%;
    background-color: var(--color1);
    height: 500px;
    position: absolute;
    top: 0;
    z-index: -1;

}

.startupContent {
    width: 100%;
    z-index: 1;
    padding: 10% 0;
}

.startupCtext {
    width: 70%;
    margin: auto;
    text-align: center;

}

.startupCtext h2 {
    text-align: center;
    font-family: var(--font1);
    font-size: 35px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: .7px;
    margin-bottom: 3%;
    color: var(--color3);
}

.startupCtext p {
    text-align: center;
    font-family: var(--font2);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: .7px;
    color: var(--color3);
    margin-bottom: 3%;
}

.startupCard {
    display: grid;
    margin: auto;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(280px, auto);
    column-gap: 2%;
}

.scard {
    background-color: var(--color3);
    border-radius: 20px;
    border: 1px solid #e4e5e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.scard div img {
    width: 100%;
    text-align: center;
    padding: 0 2%;
}

.scard p {
    padding: 0 5%;
    color: var(--color2);
    font-family: var(--font2);
    font-size: 18px;
    line-height: 1.4;
    font-weight: 500;
    text-align: center;
}

.scard a {

    color: var(--color1);
    font-family: var(--font2);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #ebf5ff;
    padding: 1% 4%;
}

.scard a svg {
    margin: 0 3px;
    letter-spacing: 0;
}

hr.line {
    border-bottom: .7px solid #e4e5e7;
}

.contactCard {
    padding: 100px 0;
    width: 100%;
    background-color: #e4e5e7;

}

.contactCard h2 {
    font-size: 28px;
    font-family: var(--font1);
    color: var(--color2);
    font-weight: 700;
    text-align: center;
    margin-bottom: 2%;
}

.contactCard h3 {
    font-size: 21px;
    font-family: var(--font2);
    color: #5a5a5a;
    font-weight: 500;
    text-align: center;
    margin-bottom: 4%;
}

.contactCardbtn {
    text-align: center;
}




.companydetail {
    width: 100%;
    height: auto;
    margin: 100px 0;


}

.cddetail {
    width: 100%;
    height: auto;
    padding: 100px 0;
    margin: auto;

}

.cddetail h2 {
    width: 80%;
    text-align: center;
    font-family: var(--font1);
    font-size: 35px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: .7px;
    color: var(--color2);
    margin: auto;
    text-transform: capitalize;


}

.companylist {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    row-gap: 50px;
}

.companyitem {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.companyitem img {
    height: auto;
    width: auto;

}

.companyitem h3 {
    font-family: var(--font1);
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
}


.testimo {
    width: 100%;
    padding: 50px 0;

}

.testimo h2 {
    font-weight: 700;
    font-size: 45px;
    font-family: var(--font1);
    text-align: center;
    line-height: 2;
}

.testimo p {
    width: 80%;
    font-weight: 600;
    font-size: 21px;
    font-family: var(--font2);
    text-align: center;
    margin: auto;
}

.testimonial {
    width: 100%;

}

.slide-row {
    width: 100%;
    position: relative;
    height: 480px;
}

.slide-col {
    position: absolute;
    top: 0;
    width: 70%;
    height: auto;
    margin: auto;
    padding: 90px 0;
    text-align: center;
    opacity: 0;
    left: 15%;
    right: 15%;
}

.slide-active {
    opacity: 1;
    z-index: 2;
}

.slide-col img {
    width: 100px;
    height: 100px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 40px;
}

.slide-col h3 {
    font-size: 24px;
    font-family: var(--font2);
    font-weight: 400;
    color: #141c3a;
    margin-bottom: 40px;

}

.slide-col p {
    font-size: 20px;
    font-family: var(--font1);
    font-weight: 600;
    color: var(--color2);
    line-height: 1.7;
}

.slide-col span {
    font-size: 20px;
    font-family: var(--font2);
    font-weight: 600;
    color: #141c3a;

}

.indicator {
    width: 100%;
    text-align: center;

}

.indibtn {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 4px;
    border-radius: 15px;
    background-color: rgb(32, 32, 32);
    cursor: pointer;
}

.indibtn-active {
    width: 40px;
    background-color: #000;
}

.footer {
    margin-top: 80px;
    height: auto;
    width: 100%;
    background-color: var(--color1);
    position: relative;

}

.footerCard {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 145px;
    align-items: center;
    justify-content: center;
    background-color: #141c3a;
    position: absolute;
    top: -10%;
    left: 10%;
    border-radius: 18px;
    text-align: center;
}

.footerCarditem h3 {
    font-size: 28px;
    font-family: var(--font1);
    color: var(--color3);
    font-weight: 700;
    text-align: center;

}

.footerCarditem p {
    text-align: left;
    font-size: 18px;
    font-family: var(--font2);
    color: var(--color3);
    font-weight: 500;
    text-align: left;
}

.footerCarditem a {
    color: var(--color3);

}

.footerContent {
    padding: 200px 0 100px 0;

}

.footerContent h2 {
    font-weight: 700;
    font-size: 45px;
    font-family: var(--font1);
    text-align: center;
    line-height: 2;
    color: var(--color3);

}

.footerContent p {
    font-weight: 600;
    font-size: 21px;
    font-family: var(--font2);
    text-align: center;
    line-height: 2;
    color: var(--color3);

}

.footerContent p a {
    color: var(--color3);
    text-decoration: none;

}

.footerSocial {
    display: flex;
    width: 40%;
    margin: 40px auto;
    justify-content: space-evenly;

}

.FSicon {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.FSicon svg {
    width: 20px;
    height: 20px;
    fill: #fff;

}

@media(max-width:600px) {

    .titleLogo .logo a {
        padding: 0 0 0 10%;

    }

    .titleLogo .logo img {
        width: 50px;
        height: 50px;
    }

    .titleLogo .logo a div {
        font-size: 16px;

    }
    .link{
        font-size: 17px !important;
    }
    .navbarLink ul li a.btn{
        font-size: 16px;
        padding: 9px 9px;
    }
    .frontImagehello{
        flex-direction: column;
    }
    .fihello {
        width: 100%;
        height: 60vh;
        align-items: end;
    }
    .fihellotext {
        padding:0;
        font-size: 50px;
        text-align: center;

    }
}