
.btn{
    font-family: var(--font1);
    font-size: 20px ;
    padding: 10px ;
    color: var(--color1);
    border: 2px solid var(--color1);
    cursor: pointer;
    text-decoration: none;
    border-radius: 16px;

}
.btn:hover{
    color: var(--color3);
    background-color: var(--color1);
    transition: all .4s ease-in-out;
}
.link{
    cursor: pointer;
    text-decoration: none;
    font-family: var(--font2);
    font-size: 20px ;
    font-weight: 400;
    color: var(--color2);
    
}
.link:hover{
    color: var(--color1);
    transition: all .3s ease-in-out;
}
